.containerReceitas {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	margin-top: 10px;
}
.cardReceita {
	display: grid;
	background-color: #fff;
	width: 320px;
	padding: 10px;
	border-radius: 10px;
}

.cardReceita div {
	width: 300px;
	height: 300px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cardReceita img {
	height: 100%;
	display: block;
	transition: .5s;
}
.cardReceita img:hover {
	height: 120%;
	transition: .5s;
}

.cardReceita p {
	border-top: 1px #000 solid;
}